<div class="container">
  <div class="row">

    <div class="col">
    <% if current_user.imc_calc <= 16 %>
    <%= image_tag "bmi_cropped/0 - 16.jpg", class: "img-bmi shadow" %>
    <% else %>
    <%= image_tag "bmi_cropped/0 - 16.jpg", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col">
    <% if (current_user.imc_calc > 16) && (current_user.imc_calc <= 17) %>
    <%= image_tag "bmi_cropped/16 - 17.jpg", class: "img-bmi shadow" %>
    <% else %>
    <%= image_tag "bmi_cropped/16 - 17.jpg", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col">
    <% if (current_user.imc_calc > 17) && (current_user.imc_calc <= 18.5) %>
    <%= image_tag "bmi_cropped/17-18.5.jpg", class: "img-bmi shadow" %>
    <% else %>
    <%= image_tag "bmi_cropped/17-18.5.jpg", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col">
    <% if (current_user.imc_calc > 18.5) && (current_user.imc_calc <= 25) %>
    <%= image_tag "bmi_cropped/18.5 - 25.jpg", class: "img-bmi shadow-lg" %>
    <% else %>
    <%= image_tag "bmi_cropped/18.5 - 25.jpg", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col">
    <% if (current_user.imc_calc > 25) && (current_user.imc_calc <= 30) %>
    <%= image_tag "bmi_cropped/25 - 30.jpg", class: "img-bmi shadow-lg" %>
    <% else %>
    <%= image_tag "bmi_cropped/25 - 30.jpg", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col">
    <% if (current_user.imc_calc > 30) && (current_user.imc_calc <= 35) %>
    <%= image_tag "bmi_cropped/30 - 35.jpg", class: "img-bmi shadow" %>
    <% else %>
    <%= image_tag "bmi_cropped/30 - 35.jpg", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col">
    <% if (current_user.imc_calc > 35) && (current_user.imc_calc <= 40) %>
    <%= image_tag "bmi_cropped/35 - 40.jpg", class: "img-bmi shadow" %>
    <% else %>
    <%= image_tag "bmi_cropped/35 - 40.jpg", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col">
    <% if current_user.imc_calc > 40 %>
    <%= image_tag "bmi_cropped/40.jpg", class: "img-bmi shadow" %>
    <% else %>
    <%= image_tag "bmi_cropped/40.jpg", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

  </div>
</div>
