<div class="container">
  <div class="row">

    <div class="col-xs-6 col">
    <% if current_user.imc_calc <= 16 %>
    <%= image_tag "bmi_cropped2/under16.png", class: "img-bmi shadow-lg" %>
    <% else %>
    <%= image_tag "bmi_cropped2/under16.png", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col-xs-6 col">
    <% if (current_user.imc_calc > 16) && (current_user.imc_calc <= 17) %>
    <%= image_tag "bmi_cropped2/16 - 17.png", class: "img-bmi shadow-lg" %>
    <% else %>
    <%= image_tag "bmi_cropped2/16 - 17.png", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col-xs-6 col">
    <% if (current_user.imc_calc > 17) && (current_user.imc_calc <= 18.5) %>
    <%= image_tag "bmi_cropped2/17 - 18.png", class: "img-bmi shadow-lg" %>
    <% else %>
    <%= image_tag "bmi_cropped2/17 - 18.png", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col-xs-6 col">
    <% if (current_user.imc_calc > 18.5) && (current_user.imc_calc <= 25) %>
    <%= image_tag "bmi_cropped2/18 - 25.png", class: "img-bmi shadow-lg" %>
    <% else %>
    <%= image_tag "bmi_cropped2/18 - 25.png", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col-xs-6 col">
    <% if (current_user.imc_calc > 25) && (current_user.imc_calc <= 30) %>
    <%= image_tag "bmi_cropped2/25 - 30.png", class: "img-bmi shadow-lg" %>
    <% else %>
    <%= image_tag "bmi_cropped2/25 - 30.png", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col-xs-6 col">
    <% if (current_user.imc_calc > 30) && (current_user.imc_calc <= 35) %>
    <%= image_tag "bmi_cropped2/30 - 35.png", class: "img-bmi shadow-lg" %>
    <% else %>
    <%= image_tag "bmi_cropped2/30 - 35.png", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col-xs-6 col">
    <% if (current_user.imc_calc > 35) && (current_user.imc_calc <= 40) %>
    <%= image_tag "bmi_cropped2/35 - 40.png", class: "img-bmi shadow-lg" %>
    <% else %>
    <%= image_tag "bmi_cropped2/35 - 40.png", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

    <div class="col-xs-6 col">
    <% if current_user.imc_calc > 40 %>
    <%= image_tag "bmi_cropped2/Over40.png", class: "img-bmi shadow-lg" %>
    <% else %>
    <%= image_tag "bmi_cropped2/Over40.png", class: "img-bmi-now opacity-25" %>
    <% end %>
    </div>

  </div>
</div>
