<div id="carouselExampleIndicators<%= weight.id %>" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    
        <% weight.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, style:"border-radius:5px;"  %>
          </div>
        <% end %>
  </div>
    
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= weight.id %>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= weight.id %>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

