<div class="card-index-weight mb-3" style="max-width: 540px; border-radius:5px; border: transparent;">
  <div class="d-flex flex-column g-0">

    <div class="w-100 card-full-posted-left">
      <%= render "profiles/carousel", weight: weight %>
    </div>

    <%= link_to weight_path(weight), class:"text-decoration-none" do %>

      <div class="w-100 card-full-posted-right">
        <div class="card-text-posted d-flex card-full-posted-right">
        
          <h3 class="text-decoration-none"><i class="fa-solid fa-dumbbell"></i>  <%= weight.value %> kg</h3>
          
            <p><strong><i class="fa-solid fa-calendar-days"></i>  <%= weight.created_at.strftime("%d/%b/%Y") %></strong></p>

            <% unless current_user.weights.size <= index +1 %>
            <% diff = current_user.weights.order(created_at: :desc)[index + 1].value - weight.value %>
              <% if diff > 0 %>
                <p><i class="fa-solid fa-arrow-down text-success"></i>   <%= (diff * (-1))  %> kg</p>
              <% else %>
                <p><i class="fa-solid fa-arrow-up text-danger"></i>   <%= (diff * (-1))  %> kg</p>
                <% end %>
            <% else %>
              <p>💪 beginning</p>
            <% end %>

        </div>
    <% end %>

    </div>
    
  </div>
</div>
<!--
Resolução do Roberto
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <% current_user.weights.map { |weight| weight.photos }.flatten.each_with_index do | photo, index | %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill  %>
      </div>
    <% end %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
-->
