<div class="card-index-weight mb-3 animate__animated animate__bounce" style="max-width: 540px; border-radius:5px; border: transparent;">
  <div class="row g-0">
    <div class="col-12 card-full-posted-left">

      <%= render "profiles/carousel", weight: weight %>

    </div>
    <div class="col-12 card-full-posted-right">
      <div class="card-text-posted d-flex card-full-posted-right">
        <h5 style="text-align:left; width: 95%;">Weight: <%= weight.value %></h5>
        <div class="row" style="width:100%;">
        <div class="col-10" style="text-align:left;">
          <p><strong>Date: <%= weight.created_at.strftime("%d/%b/%Y") %></strong></p>
        </div>
          <%# <h3> <%= link_to "Show", weight_path(weight), class: "btn btn-danger" %> </h3>
          <div class="col-2" style="text-align:right;">
            <h6 class="card-trip-pricing"><%= link_to weight_path(weight), data: {turbo_method: :delete, turbo_confirm: "Are you sure that you want to delete the item#{weight.id}?"}, class: "text-decoration-none text-secondary" do %>
              <i class="fa-solid fa-trash link-secondary"></i>
            <% end %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
 Resolução do Roberto
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <% current_user.weights.map { |weight| weight.photos }.flatten.each_with_index do | photo, index | %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill  %>
      </div>
    <% end %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
-->
