<div class="card mb-3 animate__animated animate__bounce" style="max-width: 540px; border-radius:5px; border: transparent;">
  <div class="row g-0">
    <div class="col-12 card-full-posted-left">

      <%= render "profiles/carousel", weight: weight %>

    </div>
    <div class="col-12 card-full-posted-right">
      <div class="card-text-posted d-flex card-full-posted-right">
        <h5>Weight: <%= weight.value %></h5>
        <p>Date: <%= weight.created_at.strftime("%d/%b/%Y") %></p>
        <h3> <%= link_to "Show", weight_path(weight), class: "btn btn-danger" %> </h3>
      </div>
    </div>
  </div>
</div>

<!--
 Resolução do Roberto
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <% current_user.weights.map { |weight| weight.photos }.flatten.each_with_index do | photo, index | %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill  %>
      </div>
    <% end %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
-->
