<div class="container">

 <div class="row d-flex justify-content-center">
    <div class="col-sm-10">

      <div class="card-show mt-3 d-flex justify-content-between">
        <div class="text-center">
          <h1>Overall</h1>
          <h3>Your weight: <%= @user.weights.last.value %></h3>
          <h3>BMI: <%= @user.imc_calc %> - <%=  @user.imc_message %></h3>
          <h3><%=  @user.progress_from_min %></h3>
          <h3><%=  @user.progress_from_begin %></h3>
          <h3>Ideal weight: <%=  @user.ideal_weight %></h3>
        </div>
        <div>
          <h3> <%= link_to "Publicar", new_weight_path, class: "btn btn-secondary" %> </h3>
        </div>
      </div>

<%# current_user.weights.pluck(:weight) %>
      
      <div class="card-show mt-3 d-flex justify-content-center">
        <div class="text-center w-100 p-3">
          <h3>Progress</h3>
          <h3> <%= line_chart current_user.weights.pluck(:created_at, :value), 
          min: @user.sort_weight.first - 10,
          max: @user.sort_weight.last + 10,
          label: "Weight",
          suffix: " kg",
          colors: ["#E74C3C"],
          empty: "Let's work out!"
          %> </h3> 
        </div>
      </div>

      <div class="card-show mt-3 d-flex justify-content-center">
        <div class="text-center">
          <h3>Projection</h3>
          <h3><%=  %></h3>
          <h3> <%= link_to "Publicar", "#", class: "btn btn-secondary" %> </h3>
        </div>
      </div>

      <div class="card-show mt-3 d-flex justify-content-center">
        <div class="text-center">
          <h3>Photos</h3>
          <h3> <%= link_to "Publicar", "#", class: "btn btn-secondary" %> </h3>
        </div>
      </div>
    </div>
  </div>
</div>
