<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-10">
      <div class="card-show mt-3 d-flex justify-content-between">
        <div class="text-center fixed-sidebar-container row">

          <ul class="list-group list-group-horizontal">
            <div class="stat-subtext">Age
              <li class="list-group"><%= current_user.birthday.nil? ? 0 : ((Time.zone.now - current_user.birthday&.to_time) / 1.year.seconds).floor %>y/o</li>
            </div>
            <div class="linha-vertical">
            </div>
            <div class="stat-subtext">Weight
              <li class="list-group"><%= current_user.weights.last&.value %>kg</li>
            </div>
            <div class="linha-vertical">
            </div>
            <div class="stat-subtext">Height
              <li class="list-group"><%= (current_user.height.nil? ? 0 : (current_user.height))/100 %>m</li>
            </div>
          </ul>
          <%= link_to "Post a new weight", new_weight_path, class: "link-secondary mt-4" %>
        </div>

        <%# <%= image_tag "bmi_illustration.png", alt: "bmi_illustration", width: 200 %> %>

        <%# <div class="row d-flex justify-content-center"> %>
        <%# </div> %>
        <h3>BMI: <%= current_user&.imc_calc unless current_user&.imc_calc.nil? %> - <%=  current_user&.imc_message unless !current_user&.imc_message.nil? %></h3>
        <h3><%=  current_user&.progress_from_min %></h3>
        <h3><%=  current_user&.progress_from_begin %></h3>
        <h3>Ideal weight: <%= current_user&.ideal_weight %></h3>
      </div>
      <div class="progress-bar">
        <div class="w-100 d-flex align-items-center position-relative justify-content-between">
            <div style="z-index: 30;" class="text-start text-white p-3"><b><%= current_user.min_weight.to_i  %>kg</b></div>
            <div id="current-weight" style="z-index: 30;" class="border text-dark border-dark border-opacity-50 rounded-pill p-2 position-absolute"><b><%= current_user.weights.last&.value %>kg</b></div>
            <div style="z-index: 30;" class="text-end text-white p-3"><b><%= current_user.max_weight.to_i  %>kg</b></div>
        </div>
        </div>
      <%# current_user.weights.pluck(:weight) %>
      <div class="card-show mt-3 d-flex justify-content-center">
        <div class="text-center w-100 p-3">
          <h2>Progress in Graph</h2>
          <h3> <%= line_chart current_user&.weights&.pluck(:created_at, :value),
          min: (current_user&.sort_weight&.first || 10) - 10,
          max: (current_user&.sort_weight&.last || -10) + 10,
          label: "Weight",
          suffix: " kg",
          colors: ["#E74C3C"],
          empty: "Let's work out!"
          %> </h3>
        </div>
      </div>

      <div class="card-show mt-3 d-flex justify-content-center">
        <div class="text-center w-100 p-3">
          <h2>Progress in Photo</h2>
          <div class="m-3">
          

<%# ------------------------------------------------------ %>
<div class="d-flex flex-wrap justify-content-between">
  <div class="p-3 card-progress">
    <div class="card-body-progress mb-2">
      <h4 class="card-title-progress">In the beginning</h4>
    </div>

    <div id="carouselExampleInterval<%= current_user.weights.first.id %>" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner rounded">
        <% current_user.weights.first.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, style:"border-radius:5px;", class:"d-block w-100" %>
            </div>
        <% end %>
      </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval<%= current_user.weights.first.id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval<%= current_user.weights.first.id %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fa-solid fa-dumbbell"></i> <%= current_user.weights.first.value %> kg</li>
    <li class="list-group-item"><i class="fa-solid fa-calendar-days"></i> <%= current_user.weights.first.created_at.strftime('%d/%b/%Y') %></li>
    <%= button_to "Show", "weight_path(weight.first)", class: "btn-outline-red m-3"  %>
  </ul>

</div>
<%# ------------------- %>
<div class="p-3 card-progress">
    <div class="card-body-progress mb-2">
      <h4 class="card-title-progress">Currently</h4>
    </div>
  <div id="carouselExampleInterval<%= current_user.weights.last.id %>" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner rounded">
        <% current_user.weights.last.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, style:"border-radius:5px;", class:"d-block w-100" %>
            </div>
        <% end %>
      </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval<%= current_user.weights.last.id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval<%= current_user.weights.last.id %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fa-solid fa-dumbbell"></i> <%= current_user.weights.last.value %> kg</li>
    <li class="list-group-item"><i class="fa-solid fa-calendar-days"></i> <%= current_user.weights.last.created_at.strftime('%d/%b/%Y') %></li>
    <%= button_to "Show", "weight_path(@weight.last)", class: "btn-outline-red m-3"  %>
  </ul>
  </div>

            
<%# ------------------------------------------------------ %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// window.addEventListener('locationchange', () => {
// …
// });
window.addEventListener('load', () => {
  const currentWeight = document.getElementById("current-weight");
  const percentage = <%= current_user.percentage %>;
  const leftValue = `calc(${percentage}% - ${currentWeight.offsetWidth / 2}px)`;
  currentWeight.style.left = leftValue;
});
</script>
