<div class="container">
  <div class="row d-flex justify-content-center">
      <div class="card-show d-flex justify-content-between row">
        <div class="text-center fixed-sidebar-container row col-sm-12 col-md-3">
          <div class="d-flex justify-content-center">
            <% if current_user.photo.key.nil? %>
              <%= image_tag "icon.jpg", width: 60, height: 60, class: "profile-pic shadow", 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= cl_image_tag(current_user.photo.key, width: 60, height: 60, class: "profile-pic shadow", 'aria-haspopup': true, 'aria-expanded': false) %>
            <% end %>
          </div>
          <div class="info-color d-flex justify-content-center">
            <ul class="list-group list-group-horizontal">
              <div class="stat-subtext">Age
                <li class="list-group"><%= current_user.birthday.nil? ? 0 : ((Time.zone.now - current_user.birthday&.to_time) / 1.year.seconds).floor %>y/o</li>
                </div>
                <div class="linha-vertical"></div>
                <div class="stat-subtext">Weight
                  <li class="list-group"><%= current_user.weights.last&.value.to_i %> kg</li>
                </div>
                <div class="linha-vertical"></div>
                <div class="stat-subtext">Height
                  <li class="list-group"><%= (current_user.height.nil? ? 0 : (current_user.height))/100 %>m</li>
                </div>
              </div>
            </ul>
            <div>
            <%= link_to "Post New Weight", new_weight_path, class: "btn btn-outline-gray mb-2" %>
            </div>
          </div>
        <div class="col-sm-12 col-md-9 text-center">
          <h3>Ideal weight: <%= current_user&.ideal_weight.to_i %>kg</h3>
          <h3 class="">BMI: <%= current_user&.imc_calc unless current_user&.imc_calc.nil? %> (<%=  current_user&.imc_message unless current_user&.imc_message.nil? %>)</h3>
          <!--<h3><%=  current_user&.progress_from_min %></h3>
              </div>
            </ul>
            <%= link_to "Post a new weight", new_weight_path, class: "link-secondary mt-4" %>
          </div>
          <div class="col-9 text-center">
            <h3 class="">BMI: <%= current_user&.imc_calc unless current_user&.imc_calc.nil? %> - <%=  current_user&.imc_message unless current_user&.imc_message.nil? %> Ideal weight: <%= current_user&.ideal_weight %>kg</h3>
            <!--<h3><%=  current_user&.progress_from_min %></h3>
          <h3><%=  current_user&.progress_from_begin %></h3>!-->
          <br>
          <%= render "profiles/BMI_bar"%>
        </div>
      </div>
      <!-- <div class="progress-bar">
        <div class="w-100 d-flex align-items-center position-relative justify-content-between">
            <div style="z-index: 30;" class="text-start text-white p-3"><b><%= current_user.min_weight.to_i  %>kg</b></div>
            <div id="current-weight" style="z-index: 30;" class="border text-dark border-dark border-opacity-50 rounded-pill p-2 position-absolute"><b><%= current_user.weights.last&.value %>kg</b></div>
            <div style="z-index: 30;" class="text-end text-white p-3"><b><%= current_user.max_weight.to_i  %>kg</b></div>
        </div>
        </div> !-->
      <%# current_user.weights.pluck(:weight) %>
      <div class="card-show mt-3 d-flex justify-content-center">
        <div class="text-center w-100 p-3">
          <h2>Progress in Graph</h2>
          <h3 style="margin-top: 2%"> <%= line_chart current_user&.weights&.pluck(:created_at, :value),
          min: (current_user&.sort_weight&.first || 10) - 10,
          max: (current_user&.sort_weight&.last || -10) + 10,
          label: "Weight",
          suffix: " kg",
          colors: ["#ff0000"],
          empty: "Let's work out!"
          %> </h3>
        </div>
      </div>
      <div class="card-show mt-3 d-flex justify-content-center">
        <div class="text-center w-100 p-3">
          <h2>Progress in Photo</h2>
          <div>
            <%# ------------------------------------------------------ %>
            <div class="d-flex flex-wrap justify-content-evenly">
              <div class="p-3 card-progress">
                <div class="card-body-progress mb-2">
                  <h4 class="card-title-progress">In the beginning</h4>
                </div>
                <div id="carouselExampleInterval<%= current_user.weights.first.id %>" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner rounded">
                    <% current_user.weights.first.photos.each_with_index do |photo, index| %>
                      <div class="carousel-item <%= 'active' if index.zero? %>">
                        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, style:"border-radius:5px;", class:"d-block w-100" %>
                      </div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval<%= current_user.weights.first.id %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval<%= current_user.weights.first.id %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item font-blue"><i class="fa-solid fa-dumbbell"></i> <%= current_user.weights.first.value %> kg</li>
                  <li class="list-group-item font-blue"><i class="fa-solid fa-calendar-days"></i> <%= current_user.weights.first.created_at.strftime('%d/%b/%Y') %></li>
                  <%= link_to "Show", weight_path(current_user.weights.first.id), class: "btn-outline-red m-3 text-decoration-none" %>
                </ul>
              </div>
              <%# ------------------- %>
              <div class="p-3 card-progress">
                <div class="card-body-progress mb-2">
                  <h4 class="card-title-progress">Currently</h4>
                </div>
                <div id="carouselExampleInterval<%= current_user.weights.last.id %>" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner rounded">
                    <% if current_user.weights.last.photos.attached? %>
                      <% current_user.weights.last.photos.each_with_index do |photo, index| %>
                        <div class="carousel-item <%= 'active' if index.zero? %>">
                          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, style:"border-radius:5px;", class:"d-block w-100" %>
                        </div>
                      <% end %>
                    <% else %>
                      <div class="photo-unleash-currently d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MnwxfDB8MXxyYW5kb218MHx8Ym9keWJ1aWxkZXJ8fHx8fHwxNjY4ODY1NTEy&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=700)"></div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval<%= current_user.weights.last.id %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval<%= current_user.weights.last.id %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item font-blue"><i class="fa-solid fa-dumbbell"></i> <%= current_user.weights.last.value %> kg</li>
                  <li class="list-group-item font-blue"><i class="fa-solid fa-calendar-days"></i> <%= current_user.weights.last.created_at.strftime('%d/%b/%Y') %></li>
                  <%= link_to "Show", weight_path(current_user.weights.last.id), class: "btn-outline-red m-3 text-decoration-none"  %>
                </ul>
              </div>
              <%# ------------------------------------------------------ %>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!--<script>
// window.addEventListener('locationchange', () => {
// …
// });
window.addEventListener('load', () => {
  const currentWeight = document.getElementById("current-weight");
  const percentage = <%= current_user.percentage %>;
  const leftValue = `calc(${percentage}% - ${currentWeight.offsetWidth / 2}px)`;
  currentWeight.style.left = leftValue;
});
</script>!-->
