<div class="container d-flex justify-content-center">

  <div class="card-trip mt-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <%# <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      </div> %>
      <div class="carousel-inner">
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
          <% if @weight.photos.attached? %>
            <% @weight.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <%= cl_image_tag photo.key, height: 400, width: 500, crop: :fill %>
              </div>
            <% end %>
          <% else %>
            <div class="photo-unleash" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MnwxfDB8MXxyYW5kb218MHx8Ym9keWJ1aWxkZXJ8fHx8fHwxNjY4ODY1NTEy&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=700)"></div>
          <% end %>
      </div>
    </div>

    <div class="card-trip-infos">
      <div>
        <h2 class="d-flex justify-content-center"><strong><%= @weight.value %>kg</strong></h2><i class="weight-icon fa-solid fa-dumbbell"></i>
        <p><strong><%= @weight.created_at.strftime("%d/%b/%Y") %></strong></p><i class="date-icon fa-solid fa-calendar-days"></i>
      </div>
      <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
      <div class="edit-icon px-3">
        <div class="dropdown">
          <button class="icon-edit fa-solid fa-ellipsis text-decoration-none text-light" href="#" data-bs-toggle="dropdown" aria-expanded="false"></button>

          <ul class="dropdown-menu text-center">
            <li><%= link_to "Edit Post", edit_weight_path(@weight), class: "dropdown-item" %></li>
            <li><%= link_to "Delete Post", weight_path(@weight), data: {turbo_method: :delete, turbo_confirm: "Are you sure that you want to delete the item#{@weight.id}?"}, class: "dropdown-item"%>
          </ul>
        </div>
      </div>
    </div>

    <%# <%= link_to profiles_path, class: "text-decoration-none text-light px-4" do %>
      <%# <i class="fa-solid fa-left-long mb-3"></i> %>
    <%# <% end %>
  </div>
</div>
